<!-- Navbar-->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">Loruki.</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/docs">Docs</a></li>
                </ul>
            </nav>
        </div>
    </div>
